{% extends 'base.html'%}
{% import 'macros.html' as macro%}


<!DOCTYPE html>
<html>
<head>
<title>news highlights</title>
</head>
<body>

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
<!-- Content block -->
{% block content %}

<div class="container">
    <form>
        <input type="text" name="news_query" placeholder="Search for a news" class="form-control">
        <input type="submit"  value="search" class="btn btn-default">
    </form>

</div>

<div class="jumbotron">

    <!-- displaying top news of the day -->
    <div class="row">
        <h3>TOP HIGHLIGHTS</h3>
        <ul>
            {{ macro.displayHighlights(top-highlights)}}
        </ul>
    </div>
    <!-- displaying the trending sports news   -->
    <div class="row">

        <h3>BUSSINESS HIGHLIGHTS </h3>
        <ul>
            {{ macro.displayHighlights(trending_business-highlights)}}
        </ul>
    </div>

    <!-- displaying sports news highlights -->
    <div class="row">

        <h3>SPORTS HIGHLIGHTS</h3>
        <ul>
            {{ macro.displayHighlights(trending_sports-Highlights)}}
        </ul>
    </div>

</div>



{% endblock%}

</body>
</html>